<section class="container-fluid sub bg-overlay">
    <div class="container">
        <br>
        <br>
        <h1 style="color:#fff;text-align: left">VERIFICATION SERVICE</h1>
        <br>
        <button class="btn btn-success"
            style="margin-bottom:5px;background-color:#407d2b;border-color: #407d2b;">Explore</button>
    </div>
</section>
<section class="follow-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <div class="section-heading text-center">
                    <!--<h2 style="font-family: 'Raleway';color:#dd4f05;text-align:left"><i>VERIFICATION SERVICE</i></h2>-->
                    <br>
                </div>
                <p style="color:black">DO NOT make the MISTAKE of assuming that Estates don’t need to be verified or
                    that Verification is all about taking a surveyor to your property to pick coordinate and then
                    charting it. You can even do that yourself through our video tutorial whose access is shared on this
                    page.</p>
                <p style="color:black">Surveyor charting is just the first step!</p>
                <p style="color:black">Mere Charting of property can’t detect the actual owner of land. It can’t detect
                    property dispute. It can’t spot fake documents. It can’t tell you if a future regional road passes
                    through the land e.t.c.</p>
                <p style="color:black">Either for your existing property or the one you just want to buy…</p>
            </div>
            <div class="col-sm-6">
                <br>
                <img src="./../../assets/img/VE.jpg" style="margin:auto" />
            </div>
        </div>
    </div>

    <!-- Instagram Feed Area -->
</section>
<br>
<hr style="padding:1px;background-color:#481270;width:90%;margin:auto">
<br>
<!-- Follow Area End -->
<section>
    <div class="container">
        <br>
        <h1 style="text-align:center">FOR LAND OR FOR BUILDING</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <p style="text-align: justify;color:black">You have to confirm if it’s free from any future demolition,
                    encumbrance,
                    3rd party
                    claimants or disputes of any kind.</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: justify;color:black">Let our property experts which include Land Surveyor,
                    Property Lawyer,
                    Real
                    Estate Surveyor, Town Planner and Researcher help you with your existing or aspiring property’s
                    diligence.</p>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <div class="section-heading text-center">
                    <h2 style="font-family: 'Raleway';">Status Verification</h2>
                    <hr style="width:15%;background-color:#481270;padding:1px;margin:auto">
                    <br>
                    <img src="./../../assets/img/status-verification.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <br>
                <div class="section-heading text-center">
                    <br>
                    <p style="font-weight:bold;color:black;text-align:left">This involves confirming if the land,
                        either unbuilt or built is free from any government commitment.</p>
                    <br>
                    <p style="color:black;text-align:left">Physical land inspection with our land
                        experts for
                        charting data and other research.</p>
                    <br>
                    <p style="color:black;text-align:left">Correlating the document data with the actual site
                        location data.</p>
                    <br>
                    <p style="color:black;text-align:left">Competitive analysis of similar adjoining
                        Properties.</p>
                    <br>
                    <p style="color:black;text-align:left">Coordinate Charting at surveyor General office for
                        updated info.</p>
                </div>
            </div>
        </div>
        <hr style="padding:1px;background-color:#481270;margin:auto">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <div class="section-heading text-center">
                    <h2 style="font-family: 'Raleway';">Title of Ownership Verification (TOV)</h2>
                    <hr style="width:25%;background-color:#481270;padding:1px;margin:auto">
                    <br>
                    <img src="./../../assets/img/roy-Recovered.png" style="height:90%;" />
                </div>
            </div>
            <div class="col-sm-6">
                <br>
                <div class="section-heading text-center">
                    <p style="font-weight:bold;color:black;text-align:left">This involves confirming the genuity of
                        the acclaimed property title and if there's no debt, encumbrance or dispute of any kind, as
                        well as confirming the real ownership of the said property.</p>
                    <br>

                    <p style="color:black;text-align:left">A comprehensive examination of all documents.</p>
                    <br>
                    <p style="color:black;text-align:left">Confirming other government Property requirements.
                    </p>
                    <br>
                    <p style="color:black;text-align:left">Authentication of the claimed title.</p>
                    <br>
                    <p style="color:black;text-align:left">Authenticating the property ownership.</p>
                    <br>
                    <p style="color:black;text-align:left">Unveiling any possible third-party ownership
                        claims.</p>
                    <br>
                    <p style="color:black;text-align:left">Unraveling the property history.</p>
                    <br>
                    <p style="color:black;text-align:left">Validation of taxes or collateral issues.</p>
                    <br>
                    <p style="color:black;text-align:left">Confirming any internal dispute.</p>
                    <br>
                    <p style="color:black;text-align:left">Presentation of Report at the end of the exercise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-overlay" style="background-image:url(./../../assets/img/ad_back2.jpg);background-size:cover">
    <br>
    <div class="follow-area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2 style="color:white;font-family: 'Raleway';">Advantages of Working With Us</h2>
                        <br>
                        <hr style="width:15%;background-color:#fff;padding:1px;margin:auto">
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Feed Area -->
        <div class="instragram-feed-area owl-carousel">
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">1.</h2>
                        <p style="color:white">We're insured</p>
                    </div>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">2</h2>
                        <p style="color:white">We let only qualified landed property professionals handle your
                            project at great value for less.</p>
                    </div>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">3</h2>
                        <p style="color:white">You have time to face other stuff that matters to you.</p>
                    </div>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">4</h2>
                        <p style="color:white">Your work is done timely and efficiently.</p>
                    </div>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">5</h2>
                        <p style="color:white">You can engage this service from any location in the world.</p>
                    </div>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">6</h2>
                        <p style="color:white">We ensure optimal privacy and confidentiality in our delivery to the
                            client.</p>
                    </div>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <div class="col">
                        <h2 style="color:white">7</h2>
                        <p style="color:white">Our trained workforce delivers truthfully and competently.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section>
    <h2 style="color:black;text-align:center;font-family: 'Raleway';">PROFESSIONAL CHARGE</h2>
    <br>
    <table id="customers" style="margin:auto">
        <tr>
            <th>Verification Type</th>
            <th>Service Cost</th>
            <th>Additional Fees</th>
        </tr>
        <tr>
            <td>Status Verification
                (SV)
            </td>
            <td>N50,000
                For property worth
                N1m-N10m
            </td>
            <td>Additional 30k on every extra N10m worth.</td>
        </tr>
        <tr>
            <td>Title & Ownership Validation (TOV)</td>
            <td>N150,000
                For Property Worth
                N1m-N10m
            </td>
            <td>Additional 100k on every extra N10m worth</td>
        </tr>
        <tr>
            <td>Total Verification Package (SV&TOV)</td>
            <td>10% OFF on total amount from both</td>
            <td>15% OFF on total amount from both.</td>
        </tr>
    </table>
</section>
<br>
<br>
<br>
<hr>
<br>
<br>

<section>
    <h2 style="color:black;text-align:center;font-family: 'Raleway';">HOW TO ENGAGE THIS SERVICE</h2>
    <br>
    <hr style="width:15%;background-color:#481270;padding:1px;margin:auto">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>1.</b> Visit www.florahomesgc.com</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>2.</b> Click the navigation bar and select OUR PRODUCT
                </p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>3.</b> On the product page, select VERIFICATION SERVICE
                    and
                    read
                    through the
                    page</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>4.</b> Read the T&C below</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>5.</b> Register your membership</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>6.</b> Enter the property details</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>7.</b> Receive invoice and payment confirmation link
                </p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>8.</b> Make Payment</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>9.</b> Receive payment acknowledgement and receipt.</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: left; color:black;"><b>10.</b> Connect to your personal care manager.</p>
            </div>
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <button type="button" class="btn btn-success"
            style="margin:auto;width:50%;background-color:#dd4f05;border-color: #dd4f05;" data-toggle="modal"
            data-target="#myModal">ENGAGE OUR VERIFICATION SERVICE NOW</button>
        <br>
        <br>
        <p style="color:black;text-align:center">You can also gain access to our list of</p>
        <button type="button" class="btn btn-success" style="background-color:#407d2b;border-color: #407d2b;"
            routerLink="/verified-estate-property">VERIFIED
            ESTATE PROPERTIES</button>
        <br>
        <br>
        <h3 style="color:black;text-align:center">OR</h3>
        <button type="button" class="btn btn-success" style="background-color:#407d2b;border-color: #407d2b;"
            routerLink="/v-n-e-p">VERIFIED
            NON-ESTATE PROPERTIES</button>
        <br>
        <br>
        <p style="color:black;text-align:center">By clicking on your preferred button above</p>
    </div>
    <div style="text-align:center">
        <br>
        <p>TO ACCESS THE VIDEO TUTORIAL ON PICKING COORDINATES, CLICK THE BUTTON BELOW</p>
        <button type="button" class="btn btn-danger" style="margin:auto;width:50%" (click)="redirect()">WATCH
            VIDEO</button>
    </div>
</section>
<br>
<br>

<!-- The Modal -->
<div class="modal" id="myModal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="myModalBody">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#fff">
                <button type="button" class="close" data-dismiss="modal" style="color:black">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <br>
                <div class="container"
                    style="background-color: #fff;position: relative; width: 100%; padding-top:30px;">
                    <div class="col">
                        <div class="container"
                            style="position: relative; box-shadow: 2px 5px 8px; background-color: #481270;margin-top: 30px;">
                            <p style="color: #fff; padding: 20px; text-align: center;">TERMS & CONDITION OF VERIFICATION
                                SERVICE
                            </p>
                        </div>
                        <img src="./../../assets/img/logonew.png"
                            style="position: absolute;left:0;top:40%;width:100%;height:auto;opacity:0.2;" />
                        <br />
                        <p style="color:black">The following are the terms and conditions of our verification service.
                            Every
                            Client is required to read, understand and agree to FloraHomes Global Consult Limited terms
                            of
                            engagement. </p>
                        <p style="color:black">By filling our Verification Service Subscription Form, client has agreed
                            to all
                            the terms and condition of the Verification Service as spelt out hereunder.</p>
                        <p style="color:black;"><b>DEFINITION OF SERVICES</b></p>
                        <p style="color:black">Our Verification service comes in either or both of two stages: <i>Status
                                Verification and Title & Ownership Validation.</i></p>
                        <p style="color:#660066;"><b>A. Status Verification (SV):</b></p>
                        <p style="color:black">This stage involves:</p>
                        <p style="color:black;padding-left:5px">Physical land inspection with our land experts
                            for charting data
                            and other research.</p>
                        <p style="color:black;padding-left:5px">Correlating the document data with the actual
                            site location data.
                        </p>
                        <p style="color:black;padding-left:5px">Competitive analysis of similar adjoining
                            Properties.</p>
                        <p style="color:black;padding-left:5px">Coordinate Charting at surveyor General office
                            for updated info.
                        </p>
                        <p style="color:black"><i><b>Service cost</b></i> is <b>N50,000</b> for property worth N1m -
                            N10m (Additional 30k on property value in excess of N10m)</p>

                        <p style="color:#660066;"><b>B. Title and Ownership Validation (TOV):</b></p>
                        <p style="color:black">This stage involves:</p>
                        <p style="color:black;padding-left:5px">Comprehensive examination of all documents.
                        </p>
                        <p style="color:black;padding-left:5px">Confirming other government Property
                            requirements.
                        </p>
                        <p style="color:black;padding-left:5px">Authentication of the claimed title.</p>
                        <p style="color:black;padding-left:5px">Authenticating the property ownership.
                        </p>
                        <p style="color:black;padding-left:5px">Unveiling any possible third party ownership
                            claims.
                        </p>
                        <p style="color:black;padding-left:5px">Unraveling the property history.
                        </p>
                        <p style="color:black;padding-left:5px">Validation of taxes or collateral issues.
                        </p>
                        <p style="color:black;padding-left:5px">Confirming any internal dispute.
                        </p>
                        <p style="color:black;padding-left:5px">Presentation of Report at the end of the
                            exercise.
                        </p>
                        <p style="color:black"><i><b>Service cost</b></i> is <b>N150,000</b> for property worth N1m
                            -
                            N10m (Additional 100k on property value in excess of N10m)</p>
                        <br>
                        <div class="container"
                            style="position: relative; box-shadow: 2px 5px 8px; background-color: #481270;margin-top: 30px;">
                            <p style="color: #fff; padding: 20px; text-align: center;">TERMS OF SERVICE
                            </p>
                        </div>
                        <p style="color:black;padding-left:5px">a. Client is required to explicitly request for SV,
                            TOV or Total Verification Package.
                        </p>
                        <p style="color:black;padding-left:5px">b. The company scope of work deliverable will be
                            ONLY within client’s option engaged from “a” above.</p>
                        <p style="color:black;padding-left:5px">c. The service to be provided will be according to
                            what the client paid for.
                        </p>
                        <p style="color:black;padding-left:5px"><b><i>The client will;</i></b>
                        </p>
                        <p style="color:black;padding-left:5px">d. Make full payment for specific service at least 4
                            working days before the company commences with the Verification Exercise.
                        </p>
                        <p style="color:black;padding-left:5px">e. Provide the company with clear copies of all
                            necessary documents of the subject property.
                        </p>
                        <p style="color:black;padding-left:5px"><b><i>The Company agrees to;</i></b>
                        </p>
                        <p style="color:black;padding-left:5px">f. Physically inspect the subject property to pick
                            relevant data and other research.
                        </p>
                        <p style="color:black;padding-left:5px">g. Correlate the information on document presented
                            by client with data picked to ascertain the correctness and reliability of the
                            documents.
                        </p>
                        <p style="color:black;padding-left:5px">h. Carry Out a comprehensive competitive analysis of
                            similar adjoining Properties.
                        </p>
                        <p style="color:black;padding-left:5px">i. Coordinate Charting at surveyor General office
                            for updated land status information.
                        </p>
                        <p style="color:black;padding-left:5px">j. Maintain due diligence in confirming the
                            genuineness of claimed title, ownership and any possible third party claims or dispute
                            over the subject property.</p>
                        <p style="color:black;padding-left:5px">k. Deliver on the service within 14 working days
                            from the date of inspection.
                        </p>
                        <p style="color:black;padding-left:5px">l. Ensure that client gets a verification report at
                            the end of the exercise.
                        </p>
                        <p style="color:black;padding-left:5px"><b>For:FloraHomes Global Consult Limited.</b>
                        </p>
                        <br>
                        <hr style="background-color:black;width:150px">
                        <p style="color:black;padding-left:5px;border-top-width: 2px solid black;"><b>Head
                                Researcher</b>
                        </p>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-success"
                            style="margin:auto;width:60%;background-color:#407d2b;border-color: #407d2b;"
                            routerLink="/sign-in">AGREE</button>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>