<section class="container-fluid sub bg-overlay">
    <div class="container">
        <br>
        <br>
        <h1 style="color:#fff;text-align: left">DESIGN, BUILD AND MANAGE SERVICES</h1>
        <br>
        <button class="btn btn-success"
            style="margin-bottom:5px;background-color:#407d2b;border-color: #407d2b;">Explore</button>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <h1 style="color:#dd4f05;font-size:70px"><b><i>DBM</i></b></h1>
        <br>
        <h1>WHAT IT ENTAILS</h1>
        <hr style="width:5%;background-color:#dd4f05;padding:1px">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <p style="color:black">
                    Our Design, Build and Manage service covers a 100% Done-For-You work in terms of architectural
                    design, visualization, documentation, building, finishing and/or managing it all done according to
                    clients’ specifications</p>
            </div>
            <div class="col-sm-6">
                <p style="color:black">Client has the option of either choosing from our existing uniquely designed
                    models so that they can point to specific modifications in order to meet desired class, or we can
                    create another design according to your specifications..</p>
                <br>
                <button type="button" class="btn btn-success"
                    style="background-color:#407d2b;border-color:#407d2b;margin-bottom:10px">ENGAGE NOW</button>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="grad-back">
    <br>
    <div class="container">
        <h1 style="text-align:center;color:#fff">WHAT YOU GET</h1>
        <hr style="width:8%;background-color:#fff;margin:auto;padding:1px">
        <br>
        <div class="row">
            <div class="col-sm-6 adv">
                <h3 style="text-align:left;color:#fff">ADVANTAGES OF OUR DBM SERVICE</h3>
                <br>
                <ul>
                    <li style="text-align:left;color:#fff">&#8226; We're insured.</li>
                    <li style="text-align:left;color:#fff">&#8226; We let only qualified Design and Building
                        professionals
                        handle your
                        project at great value for less.</li>
                    <li style="text-align:left;color:#fff">&#8226; Everything is done for you 100% according to your
                        desired
                        taste.</li>
                    <li style="text-align:left;color:#fff">&#8226; You have time to face other stuffs that matters to
                        you.</li>
                    <li style="text-align:left;color:#fff">&#8226; You get a 1 year post service warranty certificate.
                    </li>
                    <li style="text-align:left;color:#fff">&#8226; Your work is done timely and efficiently.</li>
                    <li style="text-align:left;color:#fff">&#8226; You can engage this service from any location in the
                        world.</li>
                    <li style="text-align:left;color:#fff">&#8226; We ensure optimal privacy and confidentiality in our
                        delivery to the
                        client.</li>
                    <li style="text-align:left;color:#fff">&#8226; Our trained workforce delivers truthfully and
                        competently.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="container dbm-img-main"></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>
<section>
    <br>
    <div class="container">
        <h2 style="color:black;text-align:center;font-family: 'Raleway';">PROFESSIONAL CHARGE</h2>
        <br>
        <table id="customers" style="margin:auto">
            <tr>
                <th>% Of Total Cost</th>
                <th>PROJECTS WORTH</th>
            </tr>
            <tr>
                <td>15%
                </td>
                <td>N200m and Below
                </td>
            </tr>
            <tr>
                <td>12.5%</td>
                <td>N200m - N500m
                </td>
            </tr>
            <tr>
                <td>10%</td>
                <td>N500m - N1b</td>
            </tr>
            <tr>
                <td>Negotiable</td>
                <td>N1b and Above</td>
            </tr>
        </table>
        <br>
        <br>
    </div>
</section>
<br>
<hr>
<br>
<section>
    <img src="./../../assets/img/dbm-engage.jpg" class="dbm-img" />
    <br>
    <br>
    <br>
    <div style="text-align:center">
        <button type="button" class="btn btn-success"
            style="background-color:#407d2b;border-color:#407d2b;width:50%;margin:auto" routerLink="/sign-in">ENGAGE
            PRODUCT</button>
    </div>
    <br>
    <br>
</section>