<section class="home">
    <div class="col-md-6" style="align-self: center;">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="margin:auto">
                <div class="carousel-item active">
                    <h1 style="font-size:50px;
                    color:#fff;
                    font-weight:bold;
                    font-family: 'Roboto', sans-serif;">Welcome to
                        FloraHomesGC</h1>
                </div>
                <div class="carousel-item">
                    <h1 style="font-size:50px;
                    color:#fff;
                    font-weight:bold;
                    font-family: 'Roboto', sans-serif;">E kaa bo si
                        FloraHomesGC</h1>
                </div>
                <div class="carousel-item">
                    <h1 style="font-size:50px;
                    color:#fff;
                    font-weight:bold;
                    font-family: 'Roboto', sans-serif;">
                        Barka Da zuwa FloraHomesGC</h1>
                </div>
                <div class="carousel-item">
                    <h1 style="font-size:50px;
                    color:#fff;
                    font-weight:bold;
                    font-family: 'Roboto', sans-serif;">
                        Anyi na-anabata gi na FloraHomesGC</h1>
                </div>
            </div>
        </div>
        <hr style="padding:1px; background-color:#fff;width:20%">
        <h5 style="color:white">The Leading Online Property Verification and Real Estate Investment Company</h5>
    </div>

    <div class="col-md-6" style="display:flex;justify-content: flex-end;">
        <!--<img src="./../../assets/img/larry.png" class="larry-main" />-->
    </div>

</section>

<img src="./../../assets/img/partn.png">
<!--
<section class="freebie bg-overlay">
    <br>
    <br>
    <div class="container" style="margin:auto;padding:10px">
        <h4 style="color:#fff;text-align:center;font-family: 'Roboto', sans-serif;">
            WHY WE GET OUR HANDS DIRTY FOR YOU
        </h4>
        <hr style="width:10%;margin:auto;padding:1px;background-color:#fff">
    </div>
    <br>
    <br>
</section>
-->
<br>
<br>
<br>
<br>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="align-self: center;padding:50px">
                <h3 style="color:black;text-align:center"><b>WHY WE GET OUR HANDS <span style="color:#dd4f05">DIRTY FOR
                            YOU</span></b></h3>
                <br>
                <p style="color:black;text-align:justify">To prevent real estate losses and give
                    investors futuristic
                    landed property investment;
                    in
                    terms of verifying the property, acquiring it, documenting it, designing building and
                    managing
                    the
                    property.</p>
                <p style="color:black;text-align:justify">
                    The Focal point of secure, sterling and seamless services in real estate and property
                    development
                </p>
            </div>
            <div class="col-sm-6">
                <img src="./../../assets/img/freebie-area.jpg" />
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<!--
<section>
    <img src="./../../assets/img/img-btn.jpg" routerLink="/estate">
</section>
-->
<br>
<section class="linear-grad1 bg-overlay-dark">
    <br>
    <br>
    <div class="container" style="margin:auto">
        <h3 class="text-center" style="color:#fff">OUR PRODUCTS</h3>
        <hr style="background-color:#fff;width:8%;margin:auto;padding:1px">
        <br>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="margin:auto">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <img src="./../../assets/img/verified.jfif" class="larry" />
                            </div>
                        </div>
                        <div class="col-sm-6" style="align-self:center">
                            <br>
                            <h3 style="color:#fff">VERIFICATION SERVICE</h3>
                            <br>
                            <p style="color:white">Save yourself from demolition, 3rd party claimant, Scams and
                                everything in between, by availing yourself of our verificationservices which bring
                                together our field expert to help you know the status of the landed property you
                                want to buy.</p>
                            <button type="button" class="btn btn-success btn-sm btn-w-border"
                                style="background-color:#407d2b;border-color:#407d2b" routerLink="/verification">Read
                                More</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <img src="./../../assets/img/VEP_HEADER.jpg" class="larry" />
                            </div>
                        </div>
                        <div class="col-sm-6" style="align-self:center">
                            <br>
                            <h3 style="color:#fff">VERIFIED ESTATE PROPERTY</h3>
                            <br>
                            <p style="color:white">Verified Estate Property is where our property acquisition team
                                already got the work of verifying different estates done across different location
                                using
                                our 9 Investment checklist, in order to ensure the property has genuine title,
                                approved
                                survey, approved layout, perfect ownership, so that every buyer make their choice
                                with
                                peace of mind without the fear of demolition, 3rd party claimant or scam.</p>
                            <button type="button" class="btn btn-success btn-sm btn-w-border"
                                style="background-color:#407d2b;border-color:#407d2b">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <img src="./../../assets/img/inv1.jpg" class="larry" />
                            </div>
                        </div>
                        <div class="col-sm-6" style="align-self:center">
                            <br>
                            <h3 style="color:#fff">COMPLETE PROPERTY BUYER SERVICE</h3>
                            <br>
                            <p style="color:white">Complete Property Buyer Service is where our team of property
                                acquisition (estate surveyor, land surveyor, property lawyer, town planner and
                                Researcher) help client to source, verify, negotiate, pay and dodocumentation,
                                everything is done 100% on behalf of our clients.</p>
                            <button type="button" class="btn btn-success btn-sm btn-w-border"
                                style="background-color:#407d2b;border-color:#407d2b">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <img src="./../../assets/img/dbm.jfif" class="larry" />
                            </div>
                        </div>
                        <div class="col-sm-6" style="align-self:center">
                            <br>
                            <h3 style="color:#fff">DESIGN, BUILD AND MANAGE</h3>
                            <br>
                            <p style="color:white">Design, Build and Manage brings together our building team
                                (Architects, Quantity Surveyors, Town Planners, Builders, Civil Engineers) to plan,
                                design, document, build, finish and manage property construction on behalf of our
                                clients, which is 100% done for the client.</p>
                            <button type="button" class="btn btn-success btn-sm btn-w-border"
                                style="background-color:#407d2b;border-color:#407d2b">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <img src="./../../assets/img/IN_HEADER.jpg" class="larry" />
                            </div>
                        </div>
                        <div class="col-sm-6" style="align-self:center">
                            <br>
                            <h3 style="color:#fff">DONE-FOR-YOU INVESTMENT PACKAGES</h3>
                            <br>
                            <p style="color:white">Our investment projects revolve around using investors money to
                                finance and execute only verified landed property project in the aspect of
                                build2let,
                                land clearing,
                                sand filling, processing layout approval, etc.</p>
                            <button type="button" class="btn btn-success btn-sm btn-w-border"
                                style="background-color:#407d2b;border-color:#407d2b">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <img src="./../../assets/img/non-estate.jfif" class="larry" />
                            </div>
                        </div>
                        <div class="col-sm-6" style="align-self:center">
                            <br>
                            <h3 style="color:#fff">VERIFIED NON-ESTATE PROPERTY</h3>
                            <br>
                            <p style="color:white">Due to the multitude of fake documents, wrong ownership
                                claimants,
                                property disputes, encumbrances... all these which the mass real estate buyers are
                                usually unaware of.</p>
                            <button type="button" class="btn btn-success btn-sm btn-w-border"
                                style="background-color:#407d2b;border-color:#407d2b">Read More</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        <br>
        <br>
    </div>
</section>

<section>
    <br>
    <br>
    <h3 class="text-center" style="color:#541484">TESTIMONIALS</h3>
    <hr style="background-color:black;width:5%;margin:auto;padding:1px">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div style="background-color:#541484;padding:40px;margin:auto;box-shadow: 5px 10px 8px #888888;">
                    <p style="color:white">FloraHomes did my verifications for me and this is the fourth time I’m
                        doing
                        my verifications with them and I haven’t had any issues so far.</p>
                    <p style="color:#fff">Thank you FloraHomes.</p>
                    <br>
                    <h5 style="color:white">- Yahaya (Nigeria)</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="background-color:#541484;padding:40px;margin:auto;box-shadow: 5px 10px 8px #888888;">
                    <p style="color:white">I wanted to buy land that was recommended by a friend but until I saw
                        your 9
                        investment checklist and it really indeed was an eye-opener and that the land I was about to
                        buy
                        was a scam, what struck me most was “What’s on land document doesn’t necessarily represent
                        the
                        actual land” and it’s so true.</p>
                    <br>
                    <h5 style="color:white">-
                        Oluwasegun (Diaspora)</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="background-color:#541484;padding:40px;margin:auto;box-shadow: 5px 10px 8px #888888;">
                    <p style="color:white">I am an estate surveyor and I’ve been following the trend of your good
                        advice, they are golden! if only a good investor will take to it.</p>
                    <p style="color:#fff">Thank you FloraHomes.</p>
                    <br>
                    <h5 style="color:white">-
                        Adeyemi Olayiwola(Diaspora)</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<section class="static bg-darker">
    <br>
    <br>
    <h3 class="text-center" style="color:#fff">OUR BLOG</h3>
    <hr style="background-color:#fff;width:5%;margin:auto;padding:1px">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="background-color:#fff;padding:10px;margin:10px">
                    <img src="./../../assets/img/iphone-blog.jfif" />
                    <p style="color:#541484;line-height:1.5"><b>HOW TO GET LAND/PROPERTY COORDNATES BY YOURSELF
                            USING
                            YOUR MOBILE
                            PHONE</b></p>
                    <p style="color:#541484">by Florahomes Global Consult LTD</p>
                    <small>Real Estate Tips</small>
                    <br>
                    <button type="button" class="btn btn-success btn-sm"
                        style="background-color:#407d2b;border-color:#407d2b" routerLink="/our-blog">Read
                        More</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color:#fff;padding:10px;margin:10px">
                    <img src="./../../assets/img/blog_1.jpg" />
                    <p style="color:#541484;line-height:1.5"><b>15 REAL ESTATE MISTAKES THAT COULD MAKE ANY ONE LOSE
                            MONEY IN PROPERTY
                            INVESTMENT</b></p>
                    <p style="color:#541484">by Florahomes Global Consult LTD</p>
                    <small>Real Estate Tips</small>
                    <br>
                    <button type="button" class="btn btn-success btn-sm"
                        style="background-color:#407d2b;border-color:#407d2b" routerLink="/our-blog">Read
                        More</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color:#fff;padding:10px;margin:10px">
                    <img src="./../../assets/img/blog_2.jpg" />
                    <p style="color:#541484;line-height:1.5"><b>REAL ESTATE REAL STORY</b></p>
                    <p style="color:#541484">by Florahomes Global Consult LTD</p>
                    <small>Real Estate Tips</small>
                    <br>
                    <button type="button" class="btn btn-success btn-sm"
                        style="background-color:#407d2b;border-color:#407d2b" routerLink="/our-blog">Read
                        More</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<section class="container-fluid sub">
    <br>
    <br>
    <h3 class="text-center" style="color:#fff">SUBSCRIPTION</h3>
    <hr style="background-color:#fff;width:5%;margin:auto;padding:1px">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin:auto;margin-bottom:10px">
                <div style="background-color:#fff;padding:10px;margin:auto">
                    <div class="container sub-h-container">
                        <div class="col-md-12">
                            <h3 style="color:white;text-align:center">SILVER</h3>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <p style="font-size:70px;color:#541484;text-align:center"><small
                                style="font-size:18px">&#8358;</small>30k<small style="font-size:22px">/month</small>
                        </p>
                    </div>
                    <hr>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Insider Secret on
                        Real
                        Estate opportunities</p>
                    <p style="color:black;padding:5px;text-decoration: line-through"><span
                            style="color:#541484">&#8226;</span> Free access to FloraHomes
                        GC
                        University</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Real Estate Video
                        Tour
                    </p>
                    <p style="color:black;padding:5px;text-decoration: line-through"><span
                            style="color:#541484">&#8226;</span> One on One Advisory session
                        with
                        our Experts once per month
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Land/Property
                        Verification Service (15% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Verified Estate
                        Property Sales (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> CBS and related
                        services (10% OFF)</p>
                    <p style="color:black;padding:5px;text-decoration: line-through">&#8226; DBM and related
                        services
                        (5% OFF)
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Property Valuation
                        (10% OFF)</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-outline-success"
                            style="margin:auto;text-align: center;color:#407d2b;border-color:#407d2b"
                            routerLink="/subscription">Suscribe
                            now</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-4" style="margin:auto;margin-bottom:10px">
                <div style="background-color:#fff;padding:10px;margin:auto">
                    <div class="container sub-h-container">
                        <div class="col-md-12">
                            <h3 style="color:white;text-align:center">GOLD</h3>
                            <p style="color:white;text-align:center">Most popular</p>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <p style="font-size:70px;color:#541484;text-align:center"><small
                                style="font-size:18px">&#8358;</small>60k<small style="font-size:22px">/month</small>
                        </p>
                    </div>
                    <hr>
                    <br>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Insider Secret on
                        Real
                        Estate opportunities</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Free access to
                        FloraHomes GC University</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Real Estate Video
                        Tour
                    </p>
                    <p style="color:black;padding:5px;text-decoration: line-through">&#8226; One on One Advisory
                        session
                        with
                        our Experts once per month
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Land/Property
                        Verification Service (15% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Verified Estate
                        Property Sales (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> CBS and related
                        services (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> DBM and related
                        services (5% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Property Valuation
                        (10% OFF)</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-outline-success"
                            style="margin:auto;text-align: center;color:#407d2b;border-color:#407d2b"
                            routerLink="/subscription">Suscribe
                            now</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-4" style="margin:auto;margin-bottom:10px">
                <div style="background-color:#fff;padding:10px;">
                    <div class="container sub-h-container">
                        <div class="col-md-12">
                            <h3 style="color:white;text-align:center">DIAMOND</h3>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <p style="font-size:70px;color:#541484;text-align:center"><small
                                style="font-size:18px">&#8358;</small>100k<small style="font-size:22px">/month</small>
                        </p>
                    </div>
                    <hr>
                    <br>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Insider secret on
                        Real
                        Estate opportunities</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Free access to
                        FloraHomes GC University</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Real Estate Video
                        Tour
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> One on One
                        Advisory
                        session with our Experts once per
                        month
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Land/Property
                        Verification Service (15% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Verified Estate
                        Property Sales (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> CBS and related
                        services (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> DBM and related
                        services (5% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Property Valuation
                        (10% OFF)</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-outline-success"
                            style="margin:auto;text-align: center;color:#407d2b;border-color:#407d2b"
                            routerLink="/subscription">Suscribe
                            now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<section>
    <br>
    <br>
    <h1 style="text-align:center;color:#541484">CONTACT US</h1>
    <hr style="margin:auto;width:5%;padding:1px;background-color:#541484">
    <br>
    <p style="text-align:center;color:black">Need help with something? Click the button below to contact us.</p>
    <div style="text-align:center">
        <button type="button" class="btn btn-success btn-block"
            style="margin:auto;width:50%;background-color:#407d2b; border-color:#407d2b" data-toggle="modal"
            data-target="#myModal">Contact
            Us</button>
    </div>
    <br>
    <br>
</section>

<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="margin:auto">
        <div class="carousel-item active">
        </div>
        <div class="carousel-item">
        </div>
        <div class="carousel-item">
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="myModalBody">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#fff">
                <h4 class="modal-title" stye="color:#541484"><b style="color:#407d2b">Contact Us</b></h4>
                <button type="button" class="close" data-dismiss="modal" style="color:black">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <br>
                <form>
                    <div class="form-group">
                        <label for="name" style="color:#541484;padding:4px"><b>Your name</b></label>
                        <input type="text" class="form-control input-gray" id="first_name" aria-describedby="nameInput"
                            placeholder="First name">
                        <br>
                        <input type="text" class="form-control input-gray" id="last_name" aria-describedby="name2Input"
                            placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="phone" style="color:#541484;padding:4px"><b>Phone Number</b></label>
                        <input type="tel" class="form-control input-gray" id="phone" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="phone" style="color:#541484;padding:4px"><b>Email Address</b></label>
                        <input type="email" class="form-control input-gray" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="service" style="color:#541484;padding:4px"><b>Select a Category</b></label>
                        <select class="form-control" id="service">
                            <option>Select your preferred category</option>
                            <option>Individual Property Owners</option>
                            <option>Realtors, Agents, Marketers, Consultants</option>
                            <option>Corporate Body (Organizations etc)</option>
                            <option>Acquire-To-Invest/Trade Property Investors</option>
                            <option>Acquire-To-Own Property Investors</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="com_method" style="color:#541484;padding:4px"><b>Preferred Communication
                                Method</b></label>
                        <select class="form-control" id="com_method">
                            <option>Select your preferred method</option>
                            <option>Call</option>
                            <option>SMS</option>
                            <option>Whatsapp</option>
                            <option>Mail</option>
                            <option>Physical Meeting</option>
                        </select>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Personalised Advisory Session
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Verification Service
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Verified Estate Property
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Verified NON-Estate Properties
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Design, Build and Manage
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Complete Property Buyer Service
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Sell My Property
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Done-For-You Investment
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success"
                        style="margin:auto;width:50%;background-color:#407d2b; border-color:#407d2b">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>