.center-content {
    display:flex;
    justify-content: center;
    align-items: center;
    height:600px;
    width:100%;
}
.log-card   {
    padding:5px;
    border:1px solid gray;
    background-color:#fff;
}
.input-gray {
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-twitter {
    color: #fff;
    background-color: #00acee;
    border-color: rgba(0,0,0,0.2);
}