<section>
    <div class="container-fluid"
        style="display:flex;align-items: center; background-image: url(./../../assets/img/affiliate.jpg);background-size: cover; height: 550px">
        <div class="container"
            style="display:flex;align-items: center; background-color: #481270; opacity: 0.8; height: auto;padding:50px">
            <div class="col-md-6" style="line-height:2.5; padding:10px;padding-top: 30px;">
                <h2 style="color:white; font-weight:bold; font-family: 'Raleway'; text-align: left">BECOME OUR
                    AFFILIATE</h2>
                <p style="color:white; text-align: left">Finding yourself here means you’re about to be partnering
                    with the fastest evolving company that’s PREVENTING LOSSES in Real Estate Market across AFRICA.
                </p>
                <span><button type="button" class="btn btn-successs"
                        style="margin: 5px;color: #fff;background-color:#407d2b; border: 1px solid #fff">Get
                        Started</button></span>
            </div>
        </div>
    </div>
</section>
<br />
<br />

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br />
                <p style="color: black; line-height: 2.5"><b>EARN BIG</b> as you join hands to stop <b
                        style="color:red">SCAM</b><b>,
                        DEMOLITION,
                        COLLAPSE, AND OTHER
                        LOSSES IN THE EVOLVING REAL ESTATE MARKET</b>.</p>
                <p style="color: black; line-height: 2.5">Before you ever mention us to anyone about our product,
                    first read our free
                    content and share it with them to genuinely help them. After which, you can navigate to our
                    product page to start promoting our estates, products and services.</p>


            </div>
            <div class="col-md-6">
                <br />
                <p style="color: black; line-height: 2.5">As you start and keep spreading our messages, you’ll be
                    earning millions of
                    Naira monthly once people you know become our customers.</p>
                <p style="color: black; line-height: 2.5">Cheers to a successful partnership</p>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />

<section class="bg-overlay" style="background-image:url(./../../assets/img/shake.jpg);background-size:cover;">
    <br>
    <br>
    <h2 style="font-weight:bold;color:white;text-align:center">HOW TO BECOME AN AFFILIATE</h2>
    <br>
    <hr style="width:15%;background-color:#fff;padding:1px;margin:auto">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>1.</b> Do not ever recommend us unless you understand
                    what our company does.</p>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>2.</b> To know about us, read through our website,
                    social media and watch our YouTube channel (insert the links to connect them).
                </p>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>3.</b> Read our agreement terms by clicking on the
                    button below.</p>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>4.</b> Enter your details through the form provided in
                    the agreement.</p>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>5.</b> Enter your preferred user name to generate your
                    unique website link that you can use to track your referred.</p>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>6.</b> Spread the good news of our content and products
                    through all your social media and contacts.</p>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
                <p style="text-align: left; color:white;"><b>7.</b> Ensure you post with sincere concern and caution
                    and do not spam your audience.
                </p>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div style="text-align:center">
            <button type="button" class="btn btn-primary"
                style="background-color:#407d2b;border-color:#fff;margin:auto;text-align:center"
                routerLink="/affiliate-terms">AFFILIATE TERMS AND
                AGREEMENT</button>
            <br>
            <br>
            <br>
        </div>
    </div>

    <div class="container-fluid" style="height:200px;background-color:#fff">

    </div>
</section>
