<br>
<br>
<br>
<br>
<section>
    <div class="container" style="background-color: #fff;position: relative; width: 100%; padding-top:30px;">
        <div class="col">
            <div class="container"
                style="position: relative; box-shadow: 2px 5px 8px; background-color: #481270;margin-top: 30px;">
                <p style="color: #fff; padding: 20px; text-align: center;">FLORAHOMES GLOBAL CONSULT
                    LIMITED AND
                    AFFILIATE TERMS OF
                    OPERATION/ AGREEMENT</p>
            </div>
            <img src="./../../assets/img/logonew.png"
                style="position: absolute;left:0;top:40%;width:100%;height:auto;opacity:0.2;" />
            <br />
            <br />
            <p style="color:black">1. The purpose of this document is to layout the terms and condition as well as
                serve as an agreement that will govern the working relationship between FloraHomes Global Consult
                Limited (hereinafter referred to as the company) and the affiliate/ agent.</p>
            <p style="color:black">2. This document does not in any way make the affiliate/agent a staff of the
                company and as such, the affiliate/ agent has no right to claim any benefits as a staff of the
                company.</p>
            <p style="color:black">3. This document creates an affiliate relationship between the affiliate/ agent
                and the company only and will for no reason or condition extend any benefit(s) or obligations
                created therefrom to a third party.</p>
            <p style="color:black">4. The affiliate/agent covenants to diligently market the company’s products and
                services to potential investors and buyers.</p>
            <p style="color:black">5. Affiliates/ Agents covenant not to falsely exaggerate or misrepresent the
                company and its services.</p>
            <p style="color:black">6. On NO condition is the affiliate/ agent permitted to receive or collect money
                from Investors/ buyers on behalf of the company.</p>
            <p style="color:black">7. Affiliate/ agent agrees to keep all company materials and information private
                and not to disclose them to any third party except for the purpose of executing his/her affiliate/
                agency obligations.</p>
            <p style="color:black">8. The affiliate/ agent is entitled to 2% on our property sale and 1% on every
                service transaction closed through the affiliate.
                This % earning is valid unless there’s a promotion that increases the % commission, which shall
                always be communicated via mail.</p>
            <p style="color:black">9. The Company covenants to promptly pay the commission as at when due.</p>
            <p style="color:black">10. By proceeding on completing and submitting the form below, both parties i.e.
                the company and the affiliate/ agent, confirm that they have gone through this document, properly
                understood its content and voluntarily agree to all the terms and conditions as stated here above.
            </p>
            <p style="color:black">11. Please note that it may take between 2 to 5 working days before your
                submission is verified and approved.</p>

            <div style="display: flex; align-items: center; justify-content: center"><button type="button"
                    class="btn btn-successs btn-block"
                    style="margin: 30px;color: #fff;background-color:#003300; border: 1px solid #407d2b; align-self: center; text-align: center; width: 70%"
                    routerLink="/affiliate-form">FILL
                    FORM</button></div>
        </div>
    </div>
</section>