<section style="display:flex;align-items:center;justify-content:center;height:500px">
    <div class="container" style="margin:auto">
        <h1 style="color:black;">This service is still in preparation stage...</h1>
        <br>
        <hr>
        <br>
        <p style="color:black;">You can check out some other products by clicking the button below.</p>
        <br>
        <button type="button" class="btn btn-success" routerLink="/products"
            style="background-color:#407d2b;border-color: #407d2b;">Check Our Products Now</button>
        <br>
    </div>
</section>