<section class="sub-img">
    <br>
    <div style="text-align:left;padding-left:10px">
        <h1 style="color:#fff;text-align: left;font-size:6vw">SUBSCRIPTION</h1>
        <hr style="background-color:#fff;width:30%;padding:1px;">
        <br>
        <p style="color:#fff;padding:2px;text-align:left">Enjoy exclusive benefits and discounts on our services when
            you subscribe to
            any of the plans</p>
    </div>
</section>
<br>
<br>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin:auto;margin-bottom:10px">
                <div style="background-color:#fff;padding:10px;border: 1px solid #541484">
                    <div class="container sub-h-container">
                        <div class="col-md-12">
                            <h3 style="color:white;text-align:center">SILVER</h3>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <p style="font-size:70px;color:#541484;text-align:center"><small
                                style="font-size:22px">&#8358;</small>30k<small style="font-size:22px">/month</small>
                        </p>
                    </div>
                    <hr>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Insider Secret on Real
                        Estate opportunities</p>
                    <p style="color:black;padding:5px;text-decoration: line-through"><span
                            style="color:#541484">&#8226;</span> Free access to FloraHomes
                        GC
                        University</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Real Estate Video Tour
                    </p>
                    <p style="color:black;padding:5px;text-decoration: line-through"><span
                            style="color:#541484">&#8226;</span> One on One Advisory session
                        with
                        our Experts once per month
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Land/Property
                        Verification Service (15% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Verified Estate
                        Property Sales (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> CBS and related
                        services (10% OFF)</p>
                    <p style="color:black;padding:5px;text-decoration: line-through">&#8226; DBM and related services
                        (5% OFF)
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Property Valuation
                        (10% OFF)</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-outline-success"
                            style="margin:auto;text-align: center;">Suscribe
                            now</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-4" style="margin:auto;margin-bottom:10px">
                <div style="background-color:#fff;padding:10px;border: 1px solid #541484">
                    <div class="container sub-h-container">
                        <div class="col-md-12">
                            <h3 style="color:white;text-align:center">GOLD</h3>
                            <p style="color:white;text-align:center">Most popular</p>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <p style="font-size:70px;color:#541484;text-align:center"><small
                                style="font-size:22px">&#8358;</small>60k<small style="font-size:22px">/month</small>
                        </p>
                    </div>
                    <hr>
                    <br>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Insider Secret on Real
                        Estate opportunities</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Free access to
                        FloraHomes GC University</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Real Estate Video Tour
                    </p>
                    <p style="color:black;padding:5px;text-decoration: line-through">&#8226; One on One Advisory session
                        with
                        our Experts once per month
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Land/Property
                        Verification Service (15% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Verified Estate
                        Property Sales (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> CBS and related
                        services (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> DBM and related
                        services (5% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Property Valuation
                        (10% OFF)</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-outline-success"
                            style="margin:auto;text-align: center;">Suscribe
                            now</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-4" style="margin:auto;margin-bottom:10px">
                <div style="background-color:#fff;padding:10px;border: 1px solid #541484">
                    <div class="container sub-h-container">
                        <div class="col-md-12">
                            <h3 style="color:white;text-align:center">DIAMOND</h3>
                        </div>
                    </div>
                    <div class="container" style="text-align:center">
                        <p style="font-size:70px;color:#541484;text-align:center"><small
                                style="font-size:22px">&#8358;</small>100k<small style="font-size:22px">/month</small>
                        </p>
                    </div>
                    <hr>
                    <br>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Insider secret on Real
                        Estate opportunities</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Free access to
                        FloraHomes GC University</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Real Estate Video Tour
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> One on One Advisory
                        session with our Experts once per
                        month
                    </p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Land/Property
                        Verification Service (15% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Verified Estate
                        Property Sales (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> CBS and related
                        services (10% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> DBM and related
                        services (5% OFF)</p>
                    <p style="color:black;padding:5px"><span style="color:#541484">&#8226;</span> Property Valuation
                        (10% OFF)</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-outline-success"
                            style="margin:auto;text-align: center;">Suscribe
                            now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>
<hr>
<section>
    <br>
    <h1 style="color:#541484;text-align:center">Frequently Asked Questions</h1>
    <br>
    <div class="container" style="width:70%">
        <button class="btn btn-block" data-toggle="collapse" data-target="#demo"
            style="margin:auto;border:1px solid #cccccc">What do I
            gain by suscribing?</button>
        <div id="demo" class="collapse">
            <br>
            When you subscribe to any of our premium subscription package, you enjoy discounts on our services. Plus you
            get
            investment opportunities and freebies directly to your mail.
        </div>
        <br>
        <button class="btn btn-block" data-toggle="collapse" data-target="#demo1"
            style="margin:auto;border:1px solid #cccccc">Do I have
            to renew monthly?</button>
        <div id="demo1" class="collapse">
            <br>
            Yes, the premium plans are subject to monthly renewal to keep getting updates & discounts.
        </div>
    </div>
</section>
<br>
<br>