<!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <video autoplay src="./../../assets/img/vid.mp4" width="100%" height="auto" controls></video>
            </div>
        </div>
    </div>
-->
<section class="bg bg-overlay">
    <div class="container">
        <h1 style="color:#fff;text-align: center;font-size:6vw"><b>Our Products</b></h1>
        <br>
        <p style="color:#fff;text-align: center;">"The Focal point of secure, sterling and
            seamless services in real estate and property
            development."</p>
    </div>
</section>
<br>
<br>

<div class="container-fluid">
    <div class="row products-row">
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/investment_check_mi.jpg" alt="investment_checklist@fhgcltd">
                <h3>Download Our 9 Investment Checklist for Free!!!</h3>
                <p>
                    Get our professional guide on real estate investment so as not to fall a victim of scam,
                    demolition or claimant of your property by a third party.
                </p>
                <div class="button">
                    <a routerLink="/nine-investment-checklist">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/animeveri.gif" alt="verification@florahomesgc.com">
                <h3>Verification Services</h3>
                <p>
                    Save yourself from demolition, 3rd party claimant, Scams and everything in between,
                    by availing yourself of our verification services which bring together our field
                    expert to help you know the status of the landed property you want to buy.
                </p>
                <div class="button">
                    <a routerLink="/verification">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/vep2.gif" alt="investment_checklist@fhgcltd">
                <h3>Verified Estate Property</h3>
                <p>
                    Verified Estate Property is where our property acquisition team already do the work of
                    verifying different estates across different location using our 9 Investment checklist,
                    in order to ensure the...
                </p>
                <div class="button">
                    <a routerLink="/verified-estate-property">Read more</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row products-row">
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/vnepgif.gif" alt="verified_non_estate_property_sales@fhgcltd">
                <h3>Verified NON-Estate Properties</h3>
                <p>
                    If buying specific non-estate land or building is what interests you either for Investment or
                    for
                    living purpose,
                    our property acquisition team have already done the work of compiling
                </p>
                <div class="button">
                    <a routerLink="/v-n-e-p">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/cbs.jpg" alt="complete_property_buyer_service@florahomesgc.com">
                <h3>Complete Property Buyer Service</h3>
                <p>
                    Complete Buyer Service is where our team of property
                    acquisition (estate surveyors, land surveyors, property lawyers, town planners, and Researchers)
                    help...
                </p>
                <div class="button">
                    <a routerLink="/service-on-the-way">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/vep2.gif" alt="investment_checklist@fhgcltd">
                <h3>Design, Build & Manage</h3>
                <p>
                    Design, Build and Manage brings
                    together our building team (Architects, Quantity Surveyors, Town Planners, Builders, Civil...
                </p>
                <div class="button">
                    <a routerLink="/dbm-service">Read more</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row products-row">
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/inv1.jpg" alt="investment_checklist@fhgcltd">
                <h3>Done-For-You Investment Packages</h3>
                <p>
                    Our investment projects revolve
                    around using investors money to finance  and execute only verified landed property project in...
                </p>
                <div class="button">
                    <a routerLink="/service-on-the-way">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/s04.gif" alt="verification@florahomesgc.com">
                <h3>Sell My Property</h3>
                <p>
                    Either it’s land or building you have, as long as your property fulfills the verification
                    parameters
                    that’ll be exercised by our verification team, then be sure we’ll sell your property for you to
                </p>
                <div class="button">
                    <a routerLink="/service-on-the-way">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/header.jpg" alt="investment_checklist@fhgcltd">
                <h3>Professional Advisory Session</h3>
                <p>
                    Offering both existing and aspiring real estate investors the opportunity to
                    get clarification and high-quality communication with our landed property expert...
                </p>
                <div class="button">
                    <a routerLink="/service-on-the-way">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row products-row">
        <div class="col-md-4 products-container">
            <div class="img-container">
                <img src="./../../assets/img/fern.jpg" alt="investment_checklist@fhgcltd">
                <h3>Our Estate</h3>
                <p>
                    With our efficient construction team, we offer our community based verified, authenticated and
                    government approved (approvable) planned out land parcels and building to our loyal customers.
                </p>
                <div class="button">
                    <a routerLink="/estate">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>