<br>
<br>
<br>
<br>
<section>
    <div class="container" id="accordion" style="text-align: left;padding: 50px; box-shadow: 1px 5px 8px; width: 90%">

        <form>
            <div class="container"
                style="position: relative; box-shadow: 2px 5px 8px; background-color: #481270;margin-top: 30px;">
                <p style="color: #fff; padding: 20px; text-align: center;">PROPERTY BRIEF
                </p>
            </div>
            <div class="card" style="width: auto;">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne" style="text-align:center;color:#660066;font-weight:bold">
                            Brief Us About The Property
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <fieldset>
                            <label for="location"><b>Where Is Your Preferred Location?</b></label>
                            <select class="form-control" id="location">
                                <option>Choose property location</option>
                                <option>Lagos - Ikoyi/V.I/Lekki</option>
                                <option>Lagos - Ajah/Ibeju-lekki/Epe</option>
                                <option>Lagos - Mainland</option>
                                <option>Ibadan</option>
                                <option>Abuja</option>
                                <option>Benin</option>
                                <option>Port-Harcourt</option>
                                <option>Others</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <label for="customer_username"><b>Detailed Location Description</b></label>
                            <input class="form-control" type="text" required style="background-color: #f2f2f2"
                                id="customer_username">
                        </fieldset>

                        <fieldset>
                            <label for="customer_password"><b>What Type Of Property Do You Intend To
                                    Purchase?</b></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Building
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Land
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Land and Building
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label><b>How Many Plots Of Land Do You Want?</b></label>
                            <input class="form-control" type="password" required style="background-color: #f2f2f2"
                                id="customer_conf_password">
                            <small>E.g 1 plot (600sqm)</small>
                        </fieldset>
                        <fieldset>
                            <label><b>Property Budget</b></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    2 - 10M
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    10 - 20M
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    20 - 50M
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    50 - 100M
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    100 - 500M
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="width: auto">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree"
                            style="text-align:center;color:#660066;font-weight:bold">
                            Next of Kin Details
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <form class="form-group" id="contact" action="" method="post">
                            <fieldset>
                                <label><b>Name (next of kin)</b></label>
                                <input class="form-control" type="text" tabindex="1" required autofocus
                                    style="background-color: #f2f2f2" id="nok_fullname">
                            </fieldset>
                            <fieldset>
                                <label><b>Phone Number (next of kin)</b></label>
                                <input class="form-control" type="email" tabindex="2" required
                                    style="background-color: #f2f2f2" id="nok_address">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="width: auto">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive"
                            style="text-align:center;color:#660066;font-weight:bold">
                            FeedBack
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <p style="padding: 3px;color:#660066;font-weight:bold">How did you find us?</p>
                        <form class="form-group" id="contact" action="" method="post">
                            <!-- Default unchecked -->
                            <fieldset>
                                <div class="radio">
                                    <label><input type="radio" name="optradio" checked> Friend/Agent</label>
                                    <label><input type="radio" name="optradio"> Whatsapp</label>
                                    <label><input type="radio" name="optradio"> Mail</label>
                                    <label><input type="radio" name="optradio"> Facebook</label>
                                    <label><input type="radio" name="optradio"> Instagram</label>
                                    <label><input type="radio" name="optradio"> Youtube</label>
                                    <label><input type="radio" name="optradio"> Google</label>
                                    <label><input type="radio" name="optradio"> Website</label>
                                    <label><input type="radio" name="optradio"> LinkedIn</label>
                                    <label><input type="radio" name="optradio"> Twitter</label>
                                    <label><input type="radio" name="optradio"> Others</label>
                                </div>
                            </fieldset>
                        </form>
                        <br>
                        <p style="padding: 3px;color:#660066;font-weight:bold">How did you find us?</p>
                        <!-- Default unchecked -->
                        <fieldset>
                            <div class="radio">
                                <label><input type="radio" name="optradio" checked> Friend/Agent</label>
                                <label><input type="radio" name="optradio"> Whatsapp</label>
                                <label><input type="radio" name="optradio"> Mail</label>
                                <label><input type="radio" name="optradio"> Facebook</label>
                                <label><input type="radio" name="optradio"> Instagram</label>
                                <label><input type="radio" name="optradio"> Youtube</label>
                                <label><input type="radio" name="optradio"> Google</label>
                                <label><input type="radio" name="optradio"> Website</label>
                                <label><input type="radio" name="optradio"> LinkedIn</label>
                                <label><input type="radio" name="optradio"> Twitter</label>
                                <label><input type="radio" name="optradio"> Others</label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label for="exampleFormControlTextarea2"><b>Is there anything else you would like to
                                    know?</b></label>
                            <textarea class="form-control rounded-0" id="more_info" rows="3">
                                                                </textarea>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!form.form.valid"
                style="margin-top: 20px; text-align: center; box-shadow: 2px 5px 8px; background-color:#003300;border-color:#003300"
                onclick="get()">Proceed</button>
        </form>
    </div>
    <br>
    <br>
    <br>
</section>